*.log
*.aux
*.idx
*.ilg
*.ind
*.out
*.gz
*.toc
*.dll
*.lib
*.fmu
*.c
*.xml
*.h
*.txt
*.mat
*.exe
*.exp
*.rar
*.bak-mo
*.DS_Store

/Specifications/Specs.synctex
/Specifications/Specs.tcp
/Specifications/Specs.tps
/IDEAS backup
!/Inputs/*.txt
!/IDEAS/Resources/ReferenceResults/Dymola/*txt
/IDEAS/Resources/drawings.pptx
/*.mm
/IDEAS/*.pyc
