os: linux
dist: noble

language: python

python:
  - "3.12"

cache: pip

notifications:
  email: false

git:
  depth: 10

services:
  - docker
  - xvfb

env:
  global:
    - DOCKER_REPONAME=lbnlblum
    - BUILDINGSPY_VERSION=BuildingsPy@v5.2.0
    - OMC_VERSION=ubuntu-2204-omc:1.24.0-1
    - DYMOLA_VERSION=travis_ubuntu-2004_dymola:2025x-x86_64_rev-2

  jobs:
    # Test matrix for regression tests.
    # The documentation is tested using github actions.
    - TEST_ARG="make test-bestest"
    - TEST_ARG="make test-dymola       PACKAGE=\"IBPSA.{Examples,Experimental}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"IBPSA.{Examples,Experimental}\""
    - TEST_ARG="make test-dymola       PACKAGE=\"IBPSA.Fluid.{Actuators,BaseClasses,Chillers,Delays,Geothermal,Examples,FMI,FixedResistances}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"IBPSA.Fluid.{Actuators,BaseClasses,Chillers,Delays,Geothermal,Examples,FMI,FixedResistances}\""
    - TEST_ARG="make test-dymola       PACKAGE=\"IBPSA.Fluid.{HeatExchangers,HeatPumps,Humidifiers,Interfaces,MassExchangers,MixingVolumes,Movers,SolarCollectors,Sensors,Sources,Storage}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"IBPSA.Fluid.{HeatExchangers,HeatPumps,Humidifiers,Interfaces,MassExchangers,MixingVolumes,Movers,SolarCollectors,Sensors,Sources,Storage}\""
    - TEST_ARG="make test-dymola       PACKAGE=\"IBPSA.ThermalZones\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"IBPSA.ThermalZones\""
    - TEST_ARG="make test-dymola       PACKAGE=\"IBPSA.{Airflow,BoundaryConditions,Controls,Electrical}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"IBPSA.{Airflow,BoundaryConditions,Controls,Electrical}\""
    - TEST_ARG="make test-dymola       PACKAGE=\"IBPSA.{Media,Utilities}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"IBPSA.{Media,Utilities}\""

before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - if [[ "$TEST_ARG" == *test-dymola* || "$TEST_ARG" == *test-bestest* ]]; then
       docker pull "$DOCKER_REPONAME"/${DYMOLA_VERSION};
       cp IBPSA/Resources/Scripts/travis/dymola/dymola $HOME/bin/;
    fi;
  - if [[ "$TEST_ARG" == *test-openmodelica* ]]; then
       docker pull "$DOCKER_REPONAME"/${OMC_VERSION};
       cp IBPSA/Resources/Scripts/travis/omc/omc $HOME/bin/omc;
    fi;

# Install dependencies
install:
  - pip3 install git+https://github.com/lbl-srg/${BUILDINGSPY_VERSION}

# Execute tests
script:
  - (cd IBPSA/Resources/Scripts/travis && travis_wait 70 $TEST_ARG)

after_failure:
  - |
    for ff in `find IBPSA -maxdepth 1 -name '*.log'`; do
      echo "*** Content of $ff"
      cat $ff
      echo "*** End of $ff"
    done
